<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>Audio Impact | @ViewBag.Title</title>
    <link href="~/dist/vendor.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/navmenu.component.css" rel="stylesheet" />

</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-3'>
                <div class='main-nav'>
                    <div class='navbar navbar-inverse'>
                        <div class='navbar-header'>
                            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                                <span class='sr-only'>Toggle navigation</span>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                            </button>
                            <a class='navbar-brand' asp-area="" asp-controller="Home" asp-action="Index">Database Administration</a>
                        </div>
                        <div class='clearfix'></div>
                        <div class='navbar-collapse collapse'>
                            <ul class='nav navbar-nav'>
                                <li><a class="btn btn-primary " asp-controller="App" asp-action="Index"><span class='glyphicon glyphicon-home'></span>Product Images</a></li>
                                <li><a class="btn btn-primary " asp-controller="AppProducts" asp-action="Index"><span class='glyphicon glyphicon-education'></span> Product List</a></li>
                                <li><a class="btn btn-danger " href="~/swagger" target="_blank"> <span class='glyphicon glyphicon-th-list'></span> API Data</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

<div class="col-sm-9 container body-content">
    <menu>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </menu>
    <header>
         <h2>@ViewBag.Title</h2>
    </header>
    <section>
        @RenderBody()
        <footer>
            <hr />
            <p> 
                &copy; 2018 - fox-graphics.com
                <h6 style="text-align:right">Alpha V1.1.</h6>
            </p>
        </footer>
    </section>
    <!-- TODO: add enviroment-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/index.js"></script>

    <script src="~/dist/vendor.js"></script>


    @RenderSection("scripts", false)
</div>
        </div>
    </div>
</body>
</html>
