<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/NavMenu.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-3'>
                <div class='main-nav'>
                    <div class='navbar' style="background-color: black">
                        <div class='navbar-header'>
                            <a class="navbar-brand" style="color: lightgrey">Audio Impact</a>
                        </div>
                        <div class='clearfix'></div>
                        <div class='navbar-collapse collapse'></div>
                    </div>
                </div>
            </div>

            <div class='col-sm-9 body-content'>
                <menu>
                    <ul>
                        <li><a asp-controller="App" asp-action="Index">Home</a></li>
                        <li><a asp-controller="App" asp-action="About">About</a></li>
                        <li><a asp-controller="App" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </menu>
                <header>
                    <h1>Test Alpha V1.0</h1>
                </header>
                <section>
                    <h2>@ViewBag.Title</h2>
                    @RenderBody()
                </section>
                <footer>(c) 2018 fox-graphics.com</footer>

                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/index.js"></script>
                @RenderSection("scripts", false)
            </div>
        </div>
    </div>
</body>
</html>
