@model MySql_Image.Data.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Discontinued" class="control-label"></label>
                <input asp-for="Discontinued" class="form-control" />
                <span asp-validation-for="Discontinued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Snapshot" class="control-label"></label>
                <input asp-for="Snapshot" class="form-control" />
                <span asp-validation-for="Snapshot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screen" class="control-label"></label>
                <input asp-for="Screen" class="form-control" />
                <span asp-validation-for="Screen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecycleNumber" class="control-label"></label>
                <input asp-for="RecycleNumber" class="form-control" />
                <span asp-validation-for="RecycleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerchantNumber" class="control-label"></label>
                <input asp-for="MerchantNumber" class="form-control" />
                <span asp-validation-for="MerchantNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AiPartNumber" class="control-label"></label>
                <input asp-for="AiPartNumber" class="form-control" />
                <span asp-validation-for="AiPartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureNumber" class="control-label"></label>
                <input asp-for="ManufactureNumber" class="form-control" />
                <span asp-validation-for="ManufactureNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureName" class="control-label"></label>
                <input asp-for="ManufactureName" class="form-control" />
                <span asp-validation-for="ManufactureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MfgUrl" class="control-label"></label>
                <input asp-for="MfgUrl" class="form-control" />
                <span asp-validation-for="MfgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MfgManualUrl" class="control-label"></label>
                <input asp-for="MfgManualUrl" class="form-control" />
                <span asp-validation-for="MfgManualUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryVendor" class="control-label"></label>
                <input asp-for="PrimaryVendor" class="form-control" />
                <span asp-validation-for="PrimaryVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryVendor" class="control-label"></label>
                <input asp-for="SecondaryVendor" class="form-control" />
                <span asp-validation-for="SecondaryVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TertiaryVendor" class="control-label"></label>
                <input asp-for="TertiaryVendor" class="form-control" />
                <span asp-validation-for="TertiaryVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retail" class="control-label"></label>
                <input asp-for="Retail" class="form-control" />
                <span asp-validation-for="Retail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalCost" class="control-label"></label>
                <input asp-for="AdditionalCost" class="form-control" />
                <span asp-validation-for="AdditionalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultPriority" class="control-label"></label>
                <input asp-for="DefaultPriority" class="form-control" />
                <span asp-validation-for="DefaultPriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxable" class="control-label"></label>
                <input asp-for="Taxable" class="form-control" />
                <span asp-validation-for="Taxable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecycleFee" class="control-label"></label>
                <input asp-for="RecycleFee" class="form-control" />
                <span asp-validation-for="RecycleFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsAssociated" class="control-label"></label>
                <input asp-for="ItemsAssociated" class="form-control" />
                <span asp-validation-for="ItemsAssociated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcludedDesAiNum" class="control-label"></label>
                <input asp-for="ExcludedDesAiNum" class="form-control" />
                <span asp-validation-for="ExcludedDesAiNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostVerification" class="control-label"></label>
                <input asp-for="CostVerification" class="form-control" />
                <span asp-validation-for="CostVerification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
